RewriteEngine on # Включает mod_rewrite - модуль сервера apache для манипуляции и изменения

# правила
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# здесь ловим все запросы и отправляем их на index.php в GET-параметр
RewriteRule (.*) index.php?$1 [QSA,L]
# Флаг 'QSA' - значит добавить в конец нового URI исходную строку GET параметров запроса QUERY_STRING,
    # которая содержится в серверной переменной %{QUERY_STRING}.
    # Этот флаг указывает механизму преобразований на добавление,
    # а не замену, строки параметров GET запроса из URI к строке
# L (правила обработки последней остановки)
    # Последнее правило: указывает серверу прекратить перезапись после обработки предыдущей директивы.
    # Флаги добавляются в конец правила перезаписи, чтобы указать Apache,
    #как интерпретировать и обрабатывать правило.